// Load fonts in a cross-browser-compatible way. Font files themselves are
// located in /src/fonts and configuration is in the `fontFamily` item in
// tailwind.config.cjs at the root of the project. These fonts are also
// preloaded at the top of the example HTML file.
//
// As with everything in GET, this is meant as a starting example only --
// replace or remove these styles and font files as necessary.
//
// By default Tailwind provides three font families leveraging system font
// stacks: font-sans, font-serif and font-mono. If you only want to use system
// font stacks, you can remove this stylesheet and the font files entirely.
//
// For more, see:
// https://tailwindcss.com/docs/font-family
// https://stackoverflow.com/a/67190784
// https://tailwindcss.com/docs/theme#extending-the-default-theme
// https://google-webfonts-helper.herokuapp.com/fonts

@layer base {
  /* alegreya-sans-regular - latin */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('../fonts/alegreya-sans-v20-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/alegreya-sans-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* alegreya-sans-900 - latin */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 900;
    src: local(''),
      url('../fonts/alegreya-sans-v20-latin-900.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/alegreya-sans-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* alegreya-sans-italic - latin */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
      url('../fonts/alegreya-sans-v20-latin-italic.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/alegreya-sans-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* alegreya-sans-900italic - latin */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 900;
    src: local(''),
      url('../fonts/alegreya-sans-v20-latin-900italic.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/alegreya-sans-v20-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body {
    @apply font-alegreya-sans;
  }
}
